@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#navitem1 {
    color: black;
    font-family: "Roboto";
}

#navitem2 {
    color: black;
    font-family: "Roboto";
}

#navitem3 {
    color: black;
    font-family: "Roboto";
}

#navitem4 {
    color: black;
    font-family: "Roboto";
}

.foodmunch {
    height: 50px;
    width: 50px;
}




.background-banner-conatainer {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.banner-para {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 200;
}



.banner-card-container {
    text-align: center;
}

.banner-button-two {
    background-color: transparent;
    color: orange;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: orange;
    margin-right: 10px;
}

.banner-button {
    background-color: yellow;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-width: opx;

}


.wcu-container {
    background-color: #f9fbfe;
}

.wcu-heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    color: grey;
}

.wcu-para {
    font-family: "Roboto";
    font-size: 20px;
    color: #5a7184;
}

.food-service-card {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.food-service-img {
    width: 80px;
    height: 80px;
}

.food-service-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

.food-service-para {
    font-family: "Roboto";
}


.explore-menu-background {
    background-color: white;
}

.explore-menu-heading {
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
    color: #183b56;
}

.giner-image {
    border-radius: 10px;
}

.menu-card-title {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

.view-all-arrow {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    color: orange;
}

.menu-item-card {
    border-radius: 10px;
    padding: 15px;
}

.healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img {
    width: 270px;
  }
  .healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }

  .delivery-and-payment-section {
    background-color: white;
  }
  .delivery-and-payment-section-img {
    width: 270px;
  }
  .delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }

  .thanking-customers-section {
    background-color: #d0b2001a;
  }
  .thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }


  .follow-heading {
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.followus-container {
    background-color: #0d2436;
}

.followuslogo {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}


.follow-us-mail {
    font-family: "Roboto";
    font-size: 20px;
    color: black;
    color: white;
}

.follow-us-para {
    font-family: "Roboto";
    font-weight: bold;
    color: white;
}

.follow-us-card {
    padding: 10px;
}

.icon {
    font-size: 32px;
    color: #d0b200;
}

.icon-container {
    width: 60px;
    height: 60px;
    background-color:  #faf7e8;
    border-radius: 30px;
    padding-left: 14px;
    padding-top: 13px;
    margin: 10px;
}
